/* Global Reset */
body,
h1, h2, h3, h4, h5, h6,
p, ul, ol, li,
div, img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Section Portfolio */
.Portfolio-content {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px;
    padding: 20px;
}

/* Carte de projet */
.portfolio.box {
    display: flex;
    flex-direction: column;
}

/* Section Aperçu */
.preuve-portfolio img {
    width: 100%; 
    height: auto;
   
}

/* Section Résumé */
.portfolio-resum {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.thème-portfolio {
    font-size: 1.2rem; 
    font-weight: bold;
}

.thème-portfolio div {
    font-size: 0.9rem;
}

/* Section Description */
.desc-portfolio {
    padding: 15px;
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
}
