@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #565656;
}
.container {
  max-width: 95%;
  margin: auto;
  margin-bottom: 30px;
}
.d_flex {
  display: flex;
  justify-content: space-between;
}
.f_flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: #ccc;
}
li {
  list-style: none;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}

button {
  border: none;
  outline: none;
  background-color: none;
}

.btn_shadow {
  padding: 18px 25px;
  border-radius: 6px;
  transition: 0.3s all ease;
  cursor: pointer;
  color: #ccc;
  transition: 0.5s;
  margin-bottom: 15px;
  display: flex;
}
button.btn_shadow:hover svg {
  color: #333;
}
.btn_shadow {
  background: linear-gradient(145deg, #505050, #333333);
  box-shadow: 4px 4px 8px #505050, -4px -4px 8px #333333;
}
.btn_shadow:hover {
  background: #cccccc;
  color: #343434!important;
  transform: translateY(-10px);
}
.box_shodow {
  background: linear-gradient(145deg, #444444, #333333);
  box-shadow: 4px 4px 8px #505050, -4px -4px 8px #343434;
  border-radius: 10px;
}
.right{
  margin: 0 auto!important;
}
.left{
  width: 42rem!important;
  margin-right: 3rem;
}
.row,
.right {
  width: 35rem!important;
}
.top {
  margin-top: 80px;

}

.mtop {
  margin-top: 40px;
}
.heading {
  margin: 50px 0 20px 0;
}
.heading h4 {
  color: #01e1ff;
  letter-spacing: 2px;
  font-weight: 400;
}
.heading h1 {
  font-size: 50px;
  color: #bbb;
}
h3{
  color: #ddd;
  font-size: 30px;
}
h1 {
  color: #bbbbbb;
  font-size: 40px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
}
p {
  color: #cccccc;
}
.text-center {
  text-align: center;
}
.primary_color {
  color: #01e1ff;
}
textarea,
input {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  outline: none;
  border: 3px solid #e2e8ec;
  margin-bottom: 20px;
}
/*----------Footer---------*/
footer {
  margin: 2rem;
}
footer p {
  margin-top: 30px;
}
/*----------Footer---------*/
@media (max-width: 768px) {
  html, body {
    max-width: 100%;
    overflow-x: hidden;
}

  .grid {
    grid-template-columns: repeat(1, 1fr);
    
  }
  .grid-skills{
    grid-template-columns: repeat(2, 1fr);
    
  }
  .row-btn{
    justify-content: center;
    
  }
  .container.f_flex.top{
   display: block!important;
  }
  .heading h4{
    font-size: 13px;
    text-align: center;
  }
  section#portfolio .container {
    max-width: 95%;
    margin: 2rem!important;
}

  .Resume .content{
    max-width: 86vw;
    margin-left: 1.7rem;
  }
  .heading{
   
    text-align: center;
  }
  .resume-years {
    text-align: center;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
}
  .hm_hyperModalWrapper .hm_hyperModalContentWrapper {

    width: 24rem!important;
    height: 40rem!important;

}
  .hero .right_img img{
    width: 80vw;
  }
  .left,
  .right {
    width: 100%;
  }
  .education{
    text-align: justify;
    margin-left: 2rem;
    font-size: 40px!important;
  }
  .left, .right{
    width: 100%!important;
  }
  .modal-content{
    top: 2% !important;

  }
  .grid-table {
    display: block!important;
    
    overflow: scroll!important;
    /* padding: 0 5rem; */
    margin: 0 0.5rem!important;
    /* margin: 0 4rem 1rem 4rem!important; */
}
  .left.top h3{
    text-align: center;
  }
  .left.top h1{
    text-align: center;
  }
  .container.f_flex.top {
    margin: 2rem;
}
  .container.f_flex.top.left{
    margin-right: 0rem!important;
    display:flex;
    gap:3rem;
    flex-direction: column!important;
    justify-content:center!important;
    align-items:center!important;
  }
  header{
    line-height: 4;
  }
  .d_flex {
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
}
  .hero .right_img {
    border-radius: 10px;
    margin-top: 3rem!important;
    margin-bottom: 0!important;
    height: auto;
}

.d_flex {
  display: flex;
  justify-content: space-between;
}
}

